div {
    display: flex;
    flex-direction: column;
    border: 1px solid #4b4b4be6;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 16px;
    width: fit-content;
    margin: 0 auto;

    p {
        span {
            font-weight: bold;
            font-style: italic;
        }
    }
}