<div *ngIf="isLoading; else content">
    <p>Pobieranie...</p>
</div>
<ng-template #content>
    <div *ngIf="pendingElement; else error">
        <p>id: <span>{{ pendingElement.id }}</span></p>
        <p>user_id: <span>{{ pendingElement.user_id }}</span></p>
        <p>title: <span>{{ pendingElement.title }}</span></p>
        <p>due on: <span>{{ pendingElement.due_on }}</span></p>
        <p>status: <span>{{ pendingElement.status }}</span></p>
    </div>
    <ng-template #error>
        <div>
            <p>Coś poszło nie tak...</p>
        </div>
    </ng-template>
</ng-template>
